.popup__save-button_disabled {
    border: 1px solid rgb(0, 0, 0);
    background: #FFFFFF;
    color: #000000;
    opacity: 0.2;
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;
}